<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>NooBIT</title>
    <base href="/">

    <meta name="theme-color" content="#282828" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="NooBIT - A playground for .NET development" />
    <meta name="keywords" content="music,programming,coding,blog,github,cockatiel,games" />
    <meta name="author" content="Tobias Haimerl (cmxl)" />
    <meta name="apple-mobile-web-app-title" content="NooBIT" />
    <meta name="application-name" content="NooBIT" />
    <meta name="msapplication-TileColor" content="#2b5797" />
    <meta name="msapplication-TileImage" content="https://www.noobit.dev/assets/icons/mstile-144x144.png" />
    <meta name="msapplication-config" content="https://www.noobit.dev/assets/icons/browserconfig.xml" />

    <link rel="apple-touch-icon" sizes="180x180" href="https://www.noobit.dev/assets/icons/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.noobit.dev/assets/icons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="194x194" href="https://www.noobit.dev/assets/icons/favicon-194x194.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="https://www.noobit.dev/assets/icons/android-chrome-192x192.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.noobit.dev/assets/icons/favicon-16x16.png" />
    <link rel="mask-icon" href="https://www.noobit.dev/assets/icons/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="shortcut icon" href="https://www.noobit.dev/assets/icons/favicon.ico" />
    <link rel="manifest" href="https://www.noobit.dev/manifest.webmanifest" />
    <link rel="stylesheet" href="~/styles.css" />
</head>
<body>
    @RenderBody()
    <script type="text/javascript" src="~/polyfills.js"></script>
    <script type="text/javascript" src="~/runtime.js"></script>    
    <script type="text/javascript" src="~/vendor.js"></script>
    <script type="text/javascript" src="~/main.js"></script>
</body>
</html>
