<section class="hero is-dark">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-vcentered">
                <div class="column is-narrow">
                    <figure class="image">
                        <img class="is-rounded"
                                src="https://www.noobit.dev/assets/images/profile.jpg?width=400"
                                width="200"
                                height="200"
                                alt="Profile Picture" />
		            </figure>
                </div>
                <div class="column">
                    <h1 class="title">
                        Hello World! I'm <strong>Tobias Haimerl</strong>👋
                    </h1>
                    <h2 class="subtitle is-5">
                        Software developer, bird keeper, musician und videogame fan.<br />
                        You can find me around the internet with my nickname <strong><em>cmxl</em></strong>.🏃
                    </h2>
                    <p>
                        Here on my website you can find some blog posts about <a class="is-link" asp-controller="Blog" asp-action="Index" asp-route-blog="coding">coding</a>, my <a asp-controller="Blog" asp-action="Index" asp-route-blog="birds">birds</a>, me <a asp-controller="Blog" asp-action="Index" asp-route-blog="travel">travelling</a> around and
                        my own <a asp-controller="Music" asp-action="Index">compositions</a>. I have also implemented some  <a asp-controller="Games" asp-action="Index">games</a>,  <a asp-controller="Tools" asp-action="Index">tools</a> and a little <a asp-controller="Astronomy" asp-action="Index">solar system</a> using WebGL. Enjoy your ride!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
  <h1 class="title">WOWYYY</h1>
  <h2 class="subtitle">Much Excite</h2>
</section>
